#card{
    text-align: center;
    margin: 50px auto;
    width: 75%;
}

.txt{
    font-size: 20px;
    background-color: #ff6600;
    border-radius: 5em;
    margin-top: 0.5em; 
}

#boton{
    width: 55%;
    font-size: 20px;
}

.divbtn{
    text-align: center;
}